ASYNC_POSTGRES_URL=postgresql+asyncpg://postgres:masterkey@localhost:5432
POSTGRES_URL=postgresql://postgres:masterkey@localhost:5432
DB_NAME=postgres
TEST_DB_NAME=test

JWT_SECRET_KEY=jwt_secret_key
JWT_REFRESH_SECRET_KEY=jwt_refresh_secret_key
